/**                        Pn-Icons.less
=====================================================================  

This is the global icon set used within the TMNG UI Toolkit.  If you choose not to include this file (usually imported into pneumatic.less), you will need to define the icons listed at the top of the pneumatic.less file. 
*/
/*  We use the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
@font-face {
  font-family: 'IconFont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-user:before {
  content: "\e074";
}
.icon-users:before {
  content: "\e075";
}
.icon-user-2:before {
  content: "\e076";
}
.icon-users-2:before {
  content: "\e077";
}
.icon-user-3:before {
  content: "\e078";
}
.icon-user-4:before {
  content: "\e079";
}
.icon-user-5:before {
  content: "\e16e";
}
.icon-user-md:before {
  content: "\e23c";
}
.icon-user-6:before {
  content: "\e26d";
}
.icon-users-3:before {
  content: "\e26e";
}
.icon-user-add:before {
  content: "\e26f";
}
.icon-accessibility:before {
  content: "\e0b1";
}
.icon-image:before {
  content: "\e010";
}
.icon-image-2:before {
  content: "\e011";
}
.icon-images:before {
  content: "\e012";
}
.icon-camera:before {
  content: "\e013";
}
.icon-music:before {
  content: "\e014";
}
.icon-headphones:before {
  content: "\e015";
}
.icon-play:before {
  content: "\e016";
}
.icon-film:before {
  content: "\e017";
}
.icon-camera-2:before {
  content: "\e018";
}
.icon-play-5:before {
  content: "\e30b";
}
.icon-pause-4:before {
  content: "\e30c";
}
.icon-record:before {
  content: "\e30d";
}
.icon-stop-4:before {
  content: "\e30e";
}
.icon-next-2:before {
  content: "\e30f";
}
.icon-previous-2:before {
  content: "\e310";
}
.icon-first-2:before {
  content: "\e311";
}
.icon-last-2:before {
  content: "\e312";
}
.icon-resize-enlarge:before {
  content: "\e313";
}
.icon-resize-shrink:before {
  content: "\e314";
}
.icon-volume:before {
  content: "\e315";
}
.icon-sound:before {
  content: "\e316";
}
.icon-mute:before {
  content: "\e317";
}
.icon-arrow-left-5:before {
  content: "\e31d";
}
.icon-arrow-down-5:before {
  content: "\e31e";
}
.icon-arrow-up--upload:before {
  content: "\e31f";
}
.icon-arrow-right-5:before {
  content: "\e320";
}
.icon-arrow-left-6:before {
  content: "\e321";
}
.icon-arrow-down-6:before {
  content: "\e322";
}
.icon-arrow-up-5:before {
  content: "\e323";
}
.icon-arrow-right-6:before {
  content: "\e324";
}
.icon-arrow-left-7:before {
  content: "\e325";
}
.icon-arrow-down-7:before {
  content: "\e326";
}
.icon-arrow-up-6:before {
  content: "\e327";
}
.icon-arrow-right-7:before {
  content: "\e328";
}
.icon-arrow-left-8:before {
  content: "\e329";
}
.icon-arrow-down-8:before {
  content: "\e32a";
}
.icon-arrow-up-7:before {
  content: "\e32b";
}
.icon-arrow-right-8:before {
  content: "\e32c";
}
.icon-arrow-left-9:before {
  content: "\e32d";
}
.icon-arrow-down-9:before {
  content: "\e32e";
}
.icon-arrow-up-8:before {
  content: "\e32f";
}
.icon-arrow-right-9:before {
  content: "\e330";
}
.icon-arrow-left-10:before {
  content: "\e331";
}
.icon-arrow-down-10:before {
  content: "\e332";
}
.icon-arrow-up-9:before {
  content: "\e333";
}
.icon-arrow-right-10:before {
  content: "\e334";
}
.icon-arrow-left-11:before {
  content: "\e335";
}
.icon-arrow-down-11:before {
  content: "\e336";
}
.icon-arrow-up-10:before {
  content: "\e337";
}
.icon-untitled-2:before {
  content: "\e338";
}
.icon-arrow-left-12:before {
  content: "\e339";
}
.icon-arrow-down-12:before {
  content: "\e33a";
}
.icon-arrow-up-11:before {
  content: "\e33b";
}
.icon-arrow-right-11:before {
  content: "\e33c";
}
.icon-menu-3:before {
  content: "\e33d";
}
.icon-close:before {
  content: "\e003";
}
.icon-home:before {
  content: "\e004";
}
.icon-home-2:before {
  content: "\e005";
}
.icon-home-3:before {
  content: "\e006";
}
.icon-pencil:before {
  content: "\e009";
}
.icon-pencil-2:before {
  content: "\e00a";
}
.icon-quill:before {
  content: "\e00b";
}
.icon-pen:before {
  content: "\e00c";
}
.icon-happy:before {
  content: "\e0da";
}
.icon-happy-2:before {
  content: "\e0db";
}
.icon-smiley:before {
  content: "\e0dc";
}
.icon-smiley-2:before {
  content: "\e0dd";
}
.icon-tongue:before {
  content: "\e0de";
}
.icon-tongue-2:before {
  content: "\e0df";
}
.icon-sad:before {
  content: "\e0e0";
}
.icon-sad-2:before {
  content: "\e0e1";
}
.icon-wink:before {
  content: "\e0e2";
}
.icon-wink-2:before {
  content: "\e0e3";
}
.icon-grin:before {
  content: "\e0e4";
}
.icon-grin-2:before {
  content: "\e0e5";
}
.icon-cool:before {
  content: "\e0e6";
}
.icon-cool-2:before {
  content: "\e0e7";
}
.icon-angry:before {
  content: "\e0e8";
}
.icon-angry-2:before {
  content: "\e0e9";
}
.icon-evil:before {
  content: "\e0ea";
}
.icon-evil-2:before {
  content: "\e0eb";
}
.icon-shocked:before {
  content: "\e0ec";
}
.icon-shocked-2:before {
  content: "\e0ed";
}
.icon-confused:before {
  content: "\e0ee";
}
.icon-confused-2:before {
  content: "\e0ef";
}
.icon-neutral:before {
  content: "\e0f0";
}
.icon-neutral-2:before {
  content: "\e0f1";
}
.icon-wondering:before {
  content: "\e0f2";
}
.icon-wondering-2:before {
  content: "\e0f3";
}
.icon-dice:before {
  content: "\e019";
}
.icon-pacman:before {
  content: "\e01a";
}
.icon-spades:before {
  content: "\e01b";
}
.icon-clubs:before {
  content: "\e01c";
}
.icon-diamonds:before {
  content: "\e01d";
}
.icon-pawn:before {
  content: "\e01e";
}
.icon-ellipsis:before {
  content: "\e33e";
}
.icon-dots:before {
  content: "\e33f";
}
.icon-dot:before {
  content: "\e340";
}
.icon-lexis-nexis-icon:before {
  content: "\e000";
}
.icon-icon-note:before {
  content: "\e001";
}
.icon-group-icon:before {
  content: "\e002";
}
.icon-office:before {
  content: "\e007";
}
.icon-newspaper:before {
  content: "\e008";
}
.icon-blog:before {
  content: "\e00d";
}
.icon-droplet:before {
  content: "\e00e";
}
.icon-paint-format:before {
  content: "\e00f";
}
.icon-headphones:before {
  content: "\e015";
}
.icon-play:before {
  content: "\e016";
}
.icon-film:before {
  content: "\e017";
}
.icon-camera-2:before {
  content: "\e018";
}
.icon-bullhorn:before {
  content: "\e01f";
}
.icon-connection:before {
  content: "\e020";
}
.icon-podcast:before {
  content: "\e021";
}
.icon-feed:before {
  content: "\e022";
}
.icon-book:before {
  content: "\e023";
}
.icon-books:before {
  content: "\e024";
}
.icon-library:before {
  content: "\e025";
}
.icon-file:before {
  content: "\e026";
}
.icon-profile:before {
  content: "\e027";
}
.icon-file-2:before {
  content: "\e028";
}
.icon-file-3:before {
  content: "\e029";
}
.icon-file-4:before {
  content: "\e02a";
}
.icon-copy:before {
  content: "\e02b";
}
.icon-copy-2:before {
  content: "\e02c";
}
.icon-copy-3:before {
  content: "\e02d";
}
.icon-paste:before {
  content: "\e02e";
}
.icon-paste-2:before {
  content: "\e02f";
}
.icon-paste-3:before {
  content: "\e030";
}
.icon-stack:before {
  content: "\e031";
}
.icon-folder:before {
  content: "\e032";
}
.icon-folder-open:before {
  content: "\e033";
}
.icon-tag:before {
  content: "\e034";
}
.icon-tags:before {
  content: "\e035";
}
.icon-barcode:before {
  content: "\e036";
}
.icon-qrcode:before {
  content: "\e037";
}
.icon-ticket:before {
  content: "\e038";
}
.icon-cart:before {
  content: "\e039";
}
.icon-cart-2:before {
  content: "\e03a";
}
.icon-cart-3:before {
  content: "\e03b";
}
.icon-coin:before {
  content: "\e03c";
}
.icon-credit:before {
  content: "\e03d";
}
.icon-calculate:before {
  content: "\e03e";
}
.icon-support:before {
  content: "\e03f";
}
.icon-phone:before {
  content: "\e040";
}
.icon-phone-hang-up:before {
  content: "\e041";
}
.icon-address-book:before {
  content: "\e042";
}
.icon-notebook:before {
  content: "\e043";
}
.icon-envelop:before {
  content: "\e044";
}
.icon-pushpin:before {
  content: "\e045";
}
.icon-location:before {
  content: "\e046";
}
.icon-location-2:before {
  content: "\e047";
}
.icon-compass:before {
  content: "\e048";
}
.icon-map:before {
  content: "\e049";
}
.icon-map-2:before {
  content: "\e04a";
}
.icon-history:before {
  content: "\e04b";
}
.icon-clock:before {
  content: "\e04c";
}
.icon-clock-2:before {
  content: "\e04d";
}
.icon-alarm:before {
  content: "\e04e";
}
.icon-alarm-2:before {
  content: "\e04f";
}
.icon-bell:before {
  content: "\e050";
}
.icon-stopwatch:before {
  content: "\e051";
}
.icon-calendar:before {
  content: "\e052";
}
.icon-calendar-2:before {
  content: "\e053";
}
.icon-print:before {
  content: "\e054";
}
.icon-keyboard:before {
  content: "\e055";
}
.icon-screen:before {
  content: "\e056";
}
.icon-laptop:before {
  content: "\e057";
}
.icon-mobile:before {
  content: "\e058";
}
.icon-mobile-2:before {
  content: "\e059";
}
.icon-tablet:before {
  content: "\e05a";
}
.icon-tv:before {
  content: "\e05b";
}
.icon-cabinet:before {
  content: "\e05c";
}
.icon-drawer:before {
  content: "\e05d";
}
.icon-drawer-2:before {
  content: "\e05e";
}
.icon-drawer-3:before {
  content: "\e05f";
}
.icon-box-add:before {
  content: "\e060";
}
.icon-box-remove:before {
  content: "\e061";
}
.icon-download:before {
  content: "\e062";
}
.icon-upload:before {
  content: "\e063";
}
.icon-disk:before {
  content: "\e064";
}
.icon-storage:before {
  content: "\e065";
}
.icon-undo:before {
  content: "\e066";
}
.icon-redo:before {
  content: "\e067";
}
.icon-flip:before {
  content: "\e068";
}
.icon-flip-2:before {
  content: "\e069";
}
.icon-undo-2:before {
  content: "\e06a";
}
.icon-redo-2:before {
  content: "\e06b";
}
.icon-forward:before {
  content: "\e06c";
}
.icon-reply:before {
  content: "\e06d";
}
.icon-bubble:before {
  content: "\e06e";
}
.icon-bubbles:before {
  content: "\e06f";
}
.icon-bubbles-2:before {
  content: "\e070";
}
.icon-bubble-2:before {
  content: "\e071";
}
.icon-bubbles-3:before {
  content: "\e072";
}
.icon-bubbles-4:before {
  content: "\e073";
}
.icon-quotes-left:before {
  content: "\e07a";
}
.icon-busy:before {
  content: "\e07b";
}
.icon-spinner:before {
  content: "\e07c";
}
.icon-spinner-2:before {
  content: "\e07d";
}
.icon-spinner-3:before {
  content: "\e07e";
}
.icon-spinner-4:before {
  content: "\e07f";
}
.icon-spinner-5:before {
  content: "\e080";
}
.icon-spinner-6:before {
  content: "\e081";
}
.icon-binoculars:before {
  content: "\e082";
}
.icon-search:before {
  content: "\e083";
}
.icon-zoom-in:before {
  content: "\e084";
}
.icon-zoom-out:before {
  content: "\e085";
}
.icon-expand:before {
  content: "\e086";
}
.icon-contract:before {
  content: "\e087";
}
.icon-expand-2:before {
  content: "\e088";
}
.icon-contract-2:before {
  content: "\e089";
}
.icon-key:before {
  content: "\e08a";
}
.icon-key-2:before {
  content: "\e08b";
}
.icon-lock:before {
  content: "\e08c";
}
.icon-lock-2:before {
  content: "\e08d";
}
.icon-unlocked:before {
  content: "\e08e";
}
.icon-wrench:before {
  content: "\e08f";
}
.icon-settings:before {
  content: "\e090";
}
.icon-equalizer:before {
  content: "\e091";
}
.icon-cog:before {
  content: "\e092";
}
.icon-cogs:before {
  content: "\e093";
}
.icon-cog-2:before {
  content: "\e094";
}
.icon-hammer:before {
  content: "\e095";
}
.icon-wand:before {
  content: "\e096";
}
.icon-aid:before {
  content: "\e097";
}
.icon-bug:before {
  content: "\e098";
}
.icon-pie:before {
  content: "\e099";
}
.icon-stats:before {
  content: "\e09a";
}
.icon-bars:before {
  content: "\e09b";
}
.icon-bars-2:before {
  content: "\e09c";
}
.icon-gift:before {
  content: "\e09d";
}
.icon-trophy:before {
  content: "\e09e";
}
.icon-glass:before {
  content: "\e09f";
}
.icon-mug:before {
  content: "\e0a0";
}
.icon-food:before {
  content: "\e0a1";
}
.icon-leaf:before {
  content: "\e0a2";
}
.icon-rocket:before {
  content: "\e0a3";
}
.icon-meter:before {
  content: "\e0a4";
}
.icon-meter2:before {
  content: "\e0a5";
}
.icon-dashboard:before {
  content: "\e0a6";
}
.icon-hammer-2:before {
  content: "\e0a7";
}
.icon-fire:before {
  content: "\e0a8";
}
.icon-lab:before {
  content: "\e0a9";
}
.icon-magnet:before {
  content: "\e0aa";
}
.icon-remove:before {
  content: "\e0ab";
}
.icon-remove-2:before {
  content: "\e0ac";
}
.icon-briefcase:before {
  content: "\e0ad";
}
.icon-airplane:before {
  content: "\e0ae";
}
.icon-truck:before {
  content: "\e0af";
}
.icon-road:before {
  content: "\e0b0";
}
.icon-accessibility:before {
  content: "\e0b1";
}
.icon-target:before {
  content: "\e0b2";
}
.icon-shield:before {
  content: "\e0b3";
}
.icon-lightning:before {
  content: "\e0b4";
}
.icon-switch:before {
  content: "\e0b5";
}
.icon-power-cord:before {
  content: "\e0b6";
}
.icon-signup:before {
  content: "\e0b7";
}
.icon-list:before {
  content: "\e0b8";
}
.icon-list-2:before {
  content: "\e0b9";
}
.icon-numbered-list:before {
  content: "\e0ba";
}
.icon-menu:before {
  content: "\e0bb";
}
.icon-menu-2:before {
  content: "\e0bc";
}
.icon-tree:before {
  content: "\e0bd";
}
.icon-cloud:before {
  content: "\e0be";
}
.icon-cloud-download:before {
  content: "\e0bf";
}
.icon-cloud-upload:before {
  content: "\e0c0";
}
.icon-download-2:before {
  content: "\e0c1";
}
.icon-upload-2:before {
  content: "\e0c2";
}
.icon-download-3:before {
  content: "\e0c3";
}
.icon-upload-3:before {
  content: "\e0c4";
}
.icon-globe:before {
  content: "\e0c5";
}
.icon-earth:before {
  content: "\e0c6";
}
.icon-link:before {
  content: "\e0c7";
}
.icon-flag:before {
  content: "\e0c8";
}
.icon-attachment:before {
  content: "\e0c9";
}
.icon-eye:before {
  content: "\e0ca";
}
.icon-eye-blocked:before {
  content: "\e0cb";
}
.icon-eye-2:before {
  content: "\e0cc";
}
.icon-bookmark:before {
  content: "\e0cd";
}
.icon-bookmarks:before {
  content: "\e0ce";
}
.icon-brightness-medium:before {
  content: "\e0cf";
}
.icon-brightness-contrast:before {
  content: "\e0d0";
}
.icon-contrast:before {
  content: "\e0d1";
}
.icon-star:before {
  content: "\e0d2";
}
.icon-star-2:before {
  content: "\e0d3";
}
.icon-star-3:before {
  content: "\e0d4";
}
.icon-heart:before {
  content: "\e0d5";
}
.icon-heart-2:before {
  content: "\e0d6";
}
.icon-heart-broken:before {
  content: "\e0d7";
}
.icon-thumbs-up:before {
  content: "\e0d8";
}
.icon-thumbs-up-2:before {
  content: "\e0d9";
}
.icon-point-up:before {
  content: "\e0f4";
}
.icon-point-right:before {
  content: "\e0f5";
}
.icon-point-down:before {
  content: "\e0f6";
}
.icon-point-left:before {
  content: "\e0f7";
}
.icon-warning:before {
  content: "\e0f8";
}
.icon-notification:before {
  content: "\e0f9";
}
.icon-question:before {
  content: "\e0fa";
}
.icon-info:before {
  content: "\e0fb";
}
.icon-info-2:before {
  content: "\e0fc";
}
.icon-blocked:before {
  content: "\e0fd";
}
.icon-cancel-circle:before {
  content: "\e0fe";
}
.icon-checkmark-circle:before {
  content: "\e0ff";
}
.icon-spam:before {
  content: "\e100";
}
.icon-close-2:before {
  content: "\e101";
}
.icon-checkmark:before {
  content: "\e102";
}
.icon-checkmark-2:before {
  content: "\e103";
}
.icon-spell-check:before {
  content: "\e104";
}
.icon-minus:before {
  content: "\e105";
}
.icon-plus:before {
  content: "\e106";
}
.icon-enter:before {
  content: "\e107";
}
.icon-exit:before {
  content: "\e108";
}
.icon-play-2:before {
  content: "\e109";
}
.icon-pause:before {
  content: "\e10a";
}
.icon-stop:before {
  content: "\e10b";
}
.icon-backward:before {
  content: "\e10c";
}
.icon-forward-2:before {
  content: "\e10d";
}
.icon-play-3:before {
  content: "\e10e";
}
.icon-pause-2:before {
  content: "\e10f";
}
.icon-stop-2:before {
  content: "\e110";
}
.icon-backward-2:before {
  content: "\e111";
}
.icon-forward-3:before {
  content: "\e112";
}
.icon-first:before {
  content: "\e113";
}
.icon-last:before {
  content: "\e114";
}
.icon-previous:before {
  content: "\e115";
}
.icon-next:before {
  content: "\e116";
}
.icon-eject:before {
  content: "\e117";
}
.icon-volume-high:before {
  content: "\e118";
}
.icon-volume-medium:before {
  content: "\e119";
}
.icon-volume-low:before {
  content: "\e11a";
}
.icon-volume-mute:before {
  content: "\e11b";
}
.icon-volume-mute-2:before {
  content: "\e11c";
}
.icon-volume-increase:before {
  content: "\e11d";
}
.icon-volume-decrease:before {
  content: "\e11e";
}
.icon-loop:before {
  content: "\e11f";
}
.icon-loop-2:before {
  content: "\e120";
}
.icon-loop-3:before {
  content: "\e121";
}
.icon-shuffle:before {
  content: "\e122";
}
.icon-arrow-up-left:before {
  content: "\e123";
}
.icon-arrow-up:before {
  content: "\e124";
}
.icon-arrow-up-right:before {
  content: "\e125";
}
.icon-arrow-right:before {
  content: "\e126";
}
.icon-arrow-down-right:before {
  content: "\e127";
}
.icon-arrow-down:before {
  content: "\e128";
}
.icon-arrow-down-left:before {
  content: "\e129";
}
.icon-arrow-left:before {
  content: "\e12a";
}
.icon-arrow-up-left-2:before {
  content: "\e12b";
}
.icon-arrow-up-2:before {
  content: "\e12c";
}
.icon-arrow-up-right-2:before {
  content: "\e12d";
}
.icon-arrow-right-2:before {
  content: "\e12e";
}
.icon-arrow-down-right-2:before {
  content: "\e12f";
}
.icon-arrow-down-2:before {
  content: "\e130";
}
.icon-arrow-down-left-2:before {
  content: "\e131";
}
.icon-arrow-left-2:before {
  content: "\e132";
}
.icon-arrow-up-left-3:before {
  content: "\e133";
}
.icon-arrow-up-3:before {
  content: "\e134";
}
.icon-arrow-up-right-3:before {
  content: "\e135";
}
.icon-arrow-right-3:before {
  content: "\e136";
}
.icon-arrow-down-right-3:before {
  content: "\e137";
}
.icon-arrow-down-3:before {
  content: "\e138";
}
.icon-arrow-down-left-3:before {
  content: "\e139";
}
.icon-arrow-left-3:before {
  content: "\e13a";
}
.icon-tab:before {
  content: "\e13b";
}
.icon-checkbox-checked:before {
  content: "\e13c";
}
.icon-checkbox-unchecked:before {
  content: "\e13d";
}
.icon-checkbox-partial:before {
  content: "\e13e";
}
.icon-radio-checked:before {
  content: "\e13f";
}
.icon-radio-unchecked:before {
  content: "\e140";
}
.icon-crop:before {
  content: "\e141";
}
.icon-scissors:before {
  content: "\e142";
}
.icon-filter:before {
  content: "\e143";
}
.icon-filter-2:before {
  content: "\e144";
}
.icon-font:before {
  content: "\e145";
}
.icon-text-height:before {
  content: "\e146";
}
.icon-text-width:before {
  content: "\e147";
}
.icon-bold:before {
  content: "\e148";
}
.icon-underline:before {
  content: "\e149";
}
.icon-italic:before {
  content: "\e14a";
}
.icon-strikethrough:before {
  content: "\e14b";
}
.icon-omega:before {
  content: "\e14c";
}
.icon-sigma:before {
  content: "\e14d";
}
.icon-table:before {
  content: "\e14e";
}
.icon-table-2:before {
  content: "\e14f";
}
.icon-insert-template:before {
  content: "\e150";
}
.icon-pilcrow:before {
  content: "\e151";
}
.icon-left-to-right:before {
  content: "\e152";
}
.icon-right-to-left:before {
  content: "\e153";
}
.icon-paragraph-left:before {
  content: "\e154";
}
.icon-paragraph-center:before {
  content: "\e155";
}
.icon-paragraph-right:before {
  content: "\e156";
}
.icon-paragraph-justify:before {
  content: "\e157";
}
.icon-paragraph-left-2:before {
  content: "\e158";
}
.icon-paragraph-center-2:before {
  content: "\e159";
}
.icon-paragraph-right-2:before {
  content: "\e15a";
}
.icon-paragraph-justify-2:before {
  content: "\e15b";
}
.icon-indent-increase:before {
  content: "\e15c";
}
.icon-indent-decrease:before {
  content: "\e15d";
}
.icon-new-tab:before {
  content: "\e15e";
}
.icon-embed:before {
  content: "\e15f";
}
.icon-code:before {
  content: "\e160";
}
.icon-console:before {
  content: "\e161";
}
.icon-share:before {
  content: "\e162";
}
.icon-mail:before {
  content: "\e163";
}
.icon-mail-2:before {
  content: "\e164";
}
.icon-mail-3:before {
  content: "\e165";
}
.icon-mail-4:before {
  content: "\e166";
}
.icon-glass-2:before {
  content: "\e167";
}
.icon-music-2:before {
  content: "\e168";
}
.icon-search-2:before {
  content: "\e169";
}
.icon-envelope:before {
  content: "\e16a";
}
.icon-heart-3:before {
  content: "\e16b";
}
.icon-star-4:before {
  content: "\e16c";
}
.icon-star-empty:before {
  content: "\e16d";
}
.icon-film-2:before {
  content: "\e16f";
}
.icon-th-large:before {
  content: "\e170";
}
.icon-th:before {
  content: "\e171";
}
.icon-th-list:before {
  content: "\e172";
}
.icon-ok:before {
  content: "\e173";
}
.icon-remove-3:before {
  content: "\e174";
}
.icon-zoom-in-2:before {
  content: "\e175";
}
.icon-zoom-out-2:before {
  content: "\e176";
}
.icon-off:before {
  content: "\e177";
}
.icon-signal:before {
  content: "\e178";
}
.icon-cog-3:before {
  content: "\e179";
}
.icon-trash:before {
  content: "\e17a";
}
.icon-home-4:before {
  content: "\e17b";
}
.icon-file-5:before {
  content: "\e17c";
}
.icon-time:before {
  content: "\e17d";
}
.icon-road-2:before {
  content: "\e17e";
}
.icon-download-alt:before {
  content: "\e17f";
}
.icon-download-4:before {
  content: "\e180";
}
.icon-upload-4:before {
  content: "\e181";
}
.icon-inbox:before {
  content: "\e182";
}
.icon-play-circle:before {
  content: "\e183";
}
.icon-repeat:before {
  content: "\e184";
}
.icon-refresh:before {
  content: "\e185";
}
.icon-list-alt:before {
  content: "\e186";
}
.icon-lock-3:before {
  content: "\e187";
}
.icon-flag-2:before {
  content: "\e188";
}
.icon-headphones-2:before {
  content: "\e189";
}
.icon-volume-off:before {
  content: "\e18a";
}
.icon-volume-down:before {
  content: "\e18b";
}
.icon-volume-up:before {
  content: "\e18c";
}
.icon-qrcode-2:before {
  content: "\e18d";
}
.icon-barcode-2:before {
  content: "\e18e";
}
.icon-tag-2:before {
  content: "\e18f";
}
.icon-tags-2:before {
  content: "\e190";
}
.icon-book-2:before {
  content: "\e191";
}
.icon-bookmark-2:before {
  content: "\e192";
}
.icon-print-2:before {
  content: "\e193";
}
.icon-camera-3:before {
  content: "\e194";
}
.icon-font-2:before {
  content: "\e195";
}
.icon-bold-2:before {
  content: "\e196";
}
.icon-italic-2:before {
  content: "\e197";
}
.icon-text-height-2:before {
  content: "\e198";
}
.icon-text-width-2:before {
  content: "\e199";
}
.icon-align-left:before {
  content: "\e19a";
}
.icon-align-center:before {
  content: "\e19b";
}
.icon-align-right:before {
  content: "\e19c";
}
.icon-align-justify:before {
  content: "\e19d";
}
.icon-list-3:before {
  content: "\e19e";
}
.icon-indent-left:before {
  content: "\e19f";
}
.icon-indent-right:before {
  content: "\e1a0";
}
.icon-facetime-video:before {
  content: "\e1a1";
}
.icon-picture:before {
  content: "\e1a2";
}
.icon-pencil-3:before {
  content: "\e1a3";
}
.icon-map-marker:before {
  content: "\e1a4";
}
.icon-adjust:before {
  content: "\e1a5";
}
.icon-tint:before {
  content: "\e1a6";
}
.icon-edit:before {
  content: "\e1a7";
}
.icon-share-2:before {
  content: "\e1a8";
}
.icon-check:before {
  content: "\e1a9";
}
.icon-move:before {
  content: "\e1aa";
}
.icon-step-backward:before {
  content: "\e1ab";
}
.icon-fast-backward:before {
  content: "\e1ac";
}
.icon-backward-3:before {
  content: "\e1ad";
}
.icon-play-4:before {
  content: "\e1ae";
}
.icon-pause-3:before {
  content: "\e1af";
}
.icon-stop-3:before {
  content: "\e1b0";
}
.icon-forward-4:before {
  content: "\e1b1";
}
.icon-fast-forward:before {
  content: "\e1b2";
}
.icon-step-forward:before {
  content: "\e1b3";
}
.icon-eject-2:before {
  content: "\e1b4";
}
.icon-chevron-left:before {
  content: "\e1b5";
}
.icon-chevron-right:before {
  content: "\e1b6";
}
.icon-plus-sign:before {
  content: "\e1b7";
}
.icon-minus-sign:before {
  content: "\e1b8";
}
.icon-remove-sign:before {
  content: "\e1b9";
}
.icon-ok-sign:before {
  content: "\e1ba";
}
.icon-question-sign:before {
  content: "\e1bb";
}
.icon-info-sign:before {
  content: "\e1bc";
}
.icon-screenshot:before {
  content: "\e1bd";
}
.icon-remove-circle:before {
  content: "\e1be";
}
.icon-ok-circle:before {
  content: "\e1bf";
}
.icon-ban-circle:before {
  content: "\e1c0";
}
.icon-arrow-left-4:before {
  content: "\e1c1";
}
.icon-arrow-right-4:before {
  content: "\e1c2";
}
.icon-arrow-up-4:before {
  content: "\e1c3";
}
.icon-arrow-down-4:before {
  content: "\e1c4";
}
.icon-share-alt:before {
  content: "\e1c5";
}
.icon-resize-full:before {
  content: "\e1c6";
}
.icon-resize-small:before {
  content: "\e1c7";
}
.icon-plus-2:before {
  content: "\e1c8";
}
.icon-minus-2:before {
  content: "\e1c9";
}
.icon-asterisk:before {
  content: "\e1ca";
}
.icon-exclamation-sign:before {
  content: "\e1cb";
}
.icon-gift-2:before {
  content: "\e1cc";
}
.icon-leaf-2:before {
  content: "\e1cd";
}
.icon-fire-2:before {
  content: "\e1ce";
}
.icon-eye-open:before {
  content: "\e1cf";
}
.icon-eye-close:before {
  content: "\e1d0";
}
.icon-warning-sign:before {
  content: "\e1d1";
}
.icon-plane:before {
  content: "\e1d2";
}
.icon-calendar-3:before {
  content: "\e1d3";
}
.icon-random:before {
  content: "\e1d4";
}
.icon-comment:before {
  content: "\e1d5";
}
.icon-magnet-2:before {
  content: "\e1d6";
}
.icon-chevron-up:before {
  content: "\e1d7";
}
.icon-chevron-down:before {
  content: "\e1d8";
}
.icon-retweet:before {
  content: "\e1d9";
}
.icon-shopping-cart:before {
  content: "\e1da";
}
.icon-folder-close:before {
  content: "\e1db";
}
.icon-folder-open-2:before {
  content: "\e1dc";
}
.icon-resize-vertical:before {
  content: "\e1dd";
}
.icon-resize-horizontal:before {
  content: "\e1de";
}
.icon-bar-chart:before {
  content: "\e1df";
}
.icon-twitter-sign:before {
  content: "\e1e0";
}
.icon-facebook-sign:before {
  content: "\e1e1";
}
.icon-camera-retro:before {
  content: "\e1e2";
}
.icon-key-3:before {
  content: "\e1e3";
}
.icon-cogs-2:before {
  content: "\e1e4";
}
.icon-comments:before {
  content: "\e1e5";
}
.icon-thumbs-up-3:before {
  content: "\e1e6";
}
.icon-thumbs-down:before {
  content: "\e1e7";
}
.icon-star-half:before {
  content: "\e1e8";
}
.icon-heart-empty:before {
  content: "\e1e9";
}
.icon-signout:before {
  content: "\e1ea";
}
.icon-linkedin-sign:before {
  content: "\e1eb";
}
.icon-pushpin-2:before {
  content: "\e1ec";
}
.icon-external-link:before {
  content: "\e1ed";
}
.icon-signin:before {
  content: "\e1ee";
}
.icon-trophy-2:before {
  content: "\e1ef";
}
.icon-github-sign:before {
  content: "\e1f0";
}
.icon-upload-alt:before {
  content: "\e1f1";
}
.icon-lemon:before {
  content: "\e1f2";
}
.icon-phone-2:before {
  content: "\e1f3";
}
.icon-check-empty:before {
  content: "\e1f4";
}
.icon-bookmark-empty:before {
  content: "\e1f5";
}
.icon-phone-sign:before {
  content: "\e1f6";
}
.icon-twitter:before {
  content: "\e1f7";
}
.icon-facebook:before {
  content: "\e1f8";
}
.icon-github:before {
  content: "\e1f9";
}
.icon-unlock:before {
  content: "\e1fa";
}
.icon-credit-2:before {
  content: "\e1fb";
}
.icon-rss:before {
  content: "\e1fc";
}
.icon-hdd:before {
  content: "\e1fd";
}
.icon-bullhorn-2:before {
  content: "\e1fe";
}
.icon-bell-2:before {
  content: "\e1ff";
}
.icon-certificate:before {
  content: "\e200";
}
.icon-hand-right:before {
  content: "\e201";
}
.icon-hand-left:before {
  content: "\e202";
}
.icon-hand-up:before {
  content: "\e203";
}
.icon-hand-down:before {
  content: "\e204";
}
.icon-circle-arrow-left:before {
  content: "\e205";
}
.icon-circle-arrow-right:before {
  content: "\e206";
}
.icon-circle-arrow-up:before {
  content: "\e207";
}
.icon-circle-arrow-down:before {
  content: "\e208";
}
.icon-globe-2:before {
  content: "\e209";
}
.icon-wrench-2:before {
  content: "\e20a";
}
.icon-tasks:before {
  content: "\e20b";
}
.icon-filter-3:before {
  content: "\e20c";
}
.icon-briefcase-2:before {
  content: "\e20d";
}
.icon-fullscreen:before {
  content: "\e20e";
}
.icon-group:before {
  content: "\e20f";
}
.icon-link-2:before {
  content: "\e210";
}
.icon-cloud-2:before {
  content: "\e211";
}
.icon-beaker:before {
  content: "\e212";
}
.icon-cut:before {
  content: "\e213";
}
.icon-copy-4:before {
  content: "\e214";
}
.icon-paper-clip:before {
  content: "\e215";
}
.icon-save:before {
  content: "\e216";
}
.icon-sign-blank:before {
  content: "\e217";
}
.icon-reorder:before {
  content: "\e218";
}
.icon-list-ul:before {
  content: "\e219";
}
.icon-list-ol:before {
  content: "\e21a";
}
.icon-strikethrough-2:before {
  content: "\e21b";
}
.icon-underline-2:before {
  content: "\e21c";
}
.icon-table-3:before {
  content: "\e21d";
}
.icon-magic:before {
  content: "\e21e";
}
.icon-truck-2:before {
  content: "\e21f";
}
.icon-pinterest:before {
  content: "\e220";
}
.icon-pinterest-sign:before {
  content: "\e221";
}
.icon-google-plus-sign:before {
  content: "\e222";
}
.icon-google-plus:before {
  content: "\e223";
}
.icon-money:before {
  content: "\e224";
}
.icon-caret-down:before {
  content: "\e225";
}
.icon-caret-up:before {
  content: "\e226";
}
.icon-caret-left:before {
  content: "\e227";
}
.icon-caret-right:before {
  content: "\e228";
}
.icon-columns:before {
  content: "\e229";
}
.icon-sort:before {
  content: "\e22a";
}
.icon-sort-down:before {
  content: "\e22b";
}
.icon-sort-up:before {
  content: "\e22c";
}
.icon-envelope-alt:before {
  content: "\e22d";
}
.icon-linkedin:before {
  content: "\e22e";
}
.icon-undo-3:before {
  content: "\e22f";
}
.icon-legal:before {
  content: "\e230";
}
.icon-dashboard-2:before {
  content: "\e231";
}
.icon-comment-alt:before {
  content: "\e232";
}
.icon-comments-alt:before {
  content: "\e233";
}
.icon-bolt:before {
  content: "\e234";
}
.icon-sitemap:before {
  content: "\e235";
}
.icon-umbrella:before {
  content: "\e236";
}
.icon-paste-4:before {
  content: "\e237";
}
.icon-lightbulb:before {
  content: "\e238";
}
.icon-exchange:before {
  content: "\e239";
}
.icon-cloud-download-2:before {
  content: "\e23a";
}
.icon-cloud-upload-2:before {
  content: "\e23b";
}
.icon-user-md:before {
  content: "\e23c";
}
.icon-stethoscope:before {
  content: "\e23d";
}
.icon-suitcase:before {
  content: "\e23e";
}
.icon-bell-alt:before {
  content: "\e23f";
}
.icon-coffee:before {
  content: "\e240";
}
.icon-food-2:before {
  content: "\e241";
}
.icon-file-alt:before {
  content: "\e242";
}
.icon-building:before {
  content: "\e243";
}
.icon-hospital:before {
  content: "\e244";
}
.icon-ambulance:before {
  content: "\e245";
}
.icon-medkit:before {
  content: "\e246";
}
.icon-fighter-jet:before {
  content: "\e247";
}
.icon-beer:before {
  content: "\e248";
}
.icon-h-sign:before {
  content: "\e249";
}
.icon-plus-sign-2:before {
  content: "\e24a";
}
.icon-double-angle-left:before {
  content: "\e24b";
}
.icon-double-angle-right:before {
  content: "\e24c";
}
.icon-double-angle-up:before {
  content: "\e24d";
}
.icon-double-angle-down:before {
  content: "\e24e";
}
.icon-angle-left:before {
  content: "\e24f";
}
.icon-angle-right:before {
  content: "\e250";
}
.icon-angle-up:before {
  content: "\e251";
}
.icon-angle-down:before {
  content: "\e252";
}
.icon-desktop:before {
  content: "\e253";
}
.icon-laptop-2:before {
  content: "\e254";
}
.icon-tablet-2:before {
  content: "\e255";
}
.icon-mobile-3:before {
  content: "\e256";
}
.icon-circle-blank:before {
  content: "\e257";
}
.icon-quote-left:before {
  content: "\e258";
}
.icon-quote-right:before {
  content: "\e259";
}
.icon-spinner-7:before {
  content: "\e25a";
}
.icon-circle:before {
  content: "\e25b";
}
.icon-reply-2:before {
  content: "\e25c";
}
.icon-github-alt:before {
  content: "\e25d";
}
.icon-folder-close-alt:before {
  content: "\e25e";
}
.icon-folder-open-alt:before {
  content: "\e25f";
}
.icon-phone-3:before {
  content: "\e260";
}
.icon-mobile-4:before {
  content: "\e261";
}
.icon-mouse:before {
  content: "\e262";
}
.icon-directions:before {
  content: "\e263";
}
.icon-mail-5:before {
  content: "\e264";
}
.icon-paperplane:before {
  content: "\e265";
}
.icon-pencil-4:before {
  content: "\e266";
}
.icon-feather:before {
  content: "\e267";
}
.icon-paperclip:before {
  content: "\e268";
}
.icon-drawer-4:before {
  content: "\e269";
}
.icon-reply-3:before {
  content: "\e26a";
}
.icon-reply-all:before {
  content: "\e26b";
}
.icon-forward-5:before {
  content: "\e26c";
}
.icon-user-6:before {
  content: "\e26d";
}
.icon-users-3:before {
  content: "\e26e";
}
.icon-user-add:before {
  content: "\e26f";
}
.icon-vcard:before {
  content: "\e270";
}
.icon-export:before {
  content: "\e271";
}
.icon-location-3:before {
  content: "\e272";
}
.icon-map-3:before {
  content: "\e273";
}
.icon-compass-2:before {
  content: "\e274";
}
.icon-location-4:before {
  content: "\e275";
}
.icon-target-2:before {
  content: "\e276";
}
.icon-share-3:before {
  content: "\e277";
}
.icon-sharable:before {
  content: "\e278";
}
.icon-heart-4:before {
  content: "\e279";
}
.icon-heart-5:before {
  content: "\e27a";
}
.icon-star-5:before {
  content: "\e27b";
}
.icon-star-6:before {
  content: "\e27c";
}
.icon-thumbs-up-4:before {
  content: "\e27d";
}
.icon-thumbs-down-2:before {
  content: "\e27e";
}
.icon-chat:before {
  content: "\e27f";
}
.icon-comment-2:before {
  content: "\e280";
}
.icon-quote:before {
  content: "\e281";
}
.icon-house:before {
  content: "\e282";
}
.icon-popup:before {
  content: "\e283";
}
.icon-search-3:before {
  content: "\e284";
}
.icon-flashlight:before {
  content: "\e285";
}
.icon-printer:before {
  content: "\e286";
}
.icon-bell-3:before {
  content: "\e287";
}
.icon-link-3:before {
  content: "\e288";
}
.icon-flag-3:before {
  content: "\e289";
}
.icon-cog-4:before {
  content: "\e28a";
}
.icon-tools:before {
  content: "\e28b";
}
.icon-trophy-3:before {
  content: "\e28c";
}
.icon-tag-3:before {
  content: "\e28d";
}
.icon-camera-4:before {
  content: "\e28e";
}
.icon-megaphone:before {
  content: "\e28f";
}
.icon-moon:before {
  content: "\e290";
}
.icon-palette:before {
  content: "\e291";
}
.icon-leaf-3:before {
  content: "\e292";
}
.icon-music-3:before {
  content: "\e293";
}
.icon-music-4:before {
  content: "\e294";
}
.icon-new:before {
  content: "\e295";
}
.icon-graduation:before {
  content: "\e296";
}
.icon-book-3:before {
  content: "\e297";
}
.icon-newspaper-2:before {
  content: "\e298";
}
.icon-bag:before {
  content: "\e299";
}
.icon-airplane-2:before {
  content: "\e29a";
}
.icon-lifebuoy:before {
  content: "\e29b";
}
.icon-eye-3:before {
  content: "\e29c";
}
.icon-clock-3:before {
  content: "\e29d";
}
.icon-microphone:before {
  content: "\e29e";
}
.icon-calendar-4:before {
  content: "\e29f";
}
.icon-bolt-2:before {
  content: "\e2a0";
}
.icon-thunder:before {
  content: "\e2a1";
}
.icon-droplet-2:before {
  content: "\e2a2";
}
.icon-cd:before {
  content: "\e2a3";
}
.icon-briefcase-3:before {
  content: "\e2a4";
}
.icon-air:before {
  content: "\e2a5";
}
.icon-hourglass:before {
  content: "\e2a6";
}
.icon-gauge:before {
  content: "\e2a7";
}
.icon-language:before {
  content: "\e2a8";
}
.icon-network:before {
  content: "\e2a9";
}
.icon-key-4:before {
  content: "\e2aa";
}
.icon-battery:before {
  content: "\e2ab";
}
.icon-bucket:before {
  content: "\e2ac";
}
.icon-magnet-3:before {
  content: "\e2ad";
}
.icon-drive:before {
  content: "\e2ae";
}
.icon-cup:before {
  content: "\e2af";
}
.icon-rocket-2:before {
  content: "\e2b0";
}
.icon-brush:before {
  content: "\e2b1";
}
.icon-suitcase-2:before {
  content: "\e2b2";
}
.icon-cone:before {
  content: "\e2b3";
}
.icon-earth-2:before {
  content: "\e2b4";
}
.icon-keyboard-2:before {
  content: "\e2b5";
}
.icon-browser:before {
  content: "\e2b6";
}
.icon-publish:before {
  content: "\e2b7";
}
.icon-progress-3:before {
  content: "\e2b8";
}
.icon-progress-2:before {
  content: "\e2b9";
}
.icon-brogress-1:before {
  content: "\e2ba";
}
.icon-progress-0:before {
  content: "\e2bb";
}
.icon-sun:before {
  content: "\e2bc";
}
.icon-sun-2:before {
  content: "\e2bd";
}
.icon-adjust-2:before {
  content: "\e2be";
}
.icon-code-2:before {
  content: "\e2bf";
}
.icon-screen-2:before {
  content: "\e2c0";
}
.icon-infinity:before {
  content: "\e2c1";
}
.icon-light-bulb:before {
  content: "\e2c2";
}
.icon-credit-card:before {
  content: "\e2c3";
}
.icon-database:before {
  content: "\e2c4";
}
.icon-voicemail:before {
  content: "\e2c5";
}
.icon-clipboard:before {
  content: "\e2c6";
}
.icon-cart-4:before {
  content: "\e2c7";
}
.icon-box:before {
  content: "\e2c8";
}
.icon-ticket-2:before {
  content: "\e2c9";
}
.icon-rss-2:before {
  content: "\e2ca";
}
.icon-signal-2:before {
  content: "\e2cb";
}
.icon-thermometer:before {
  content: "\e2cc";
}
.icon-droplets:before {
  content: "\e2cd";
}
.icon-untitled:before {
  content: "\e2ce";
}
.icon-statistics:before {
  content: "\e2cf";
}
.icon-pie-2:before {
  content: "\e2d0";
}
.icon-bars-3:before {
  content: "\e2d1";
}
.icon-graph:before {
  content: "\e2d2";
}
.icon-lock-4:before {
  content: "\e2d3";
}
.icon-lock-open:before {
  content: "\e2d4";
}
.icon-logout:before {
  content: "\e2d5";
}
.icon-login:before {
  content: "\e2d6";
}
.icon-checkmark-3:before {
  content: "\e2d7";
}
.icon-cross:before {
  content: "\e2d8";
}
.icon-minus-3:before {
  content: "\e2d9";
}
.icon-plus-3:before {
  content: "\e2da";
}
.icon-cross-2:before {
  content: "\e2db";
}
.icon-minus-4:before {
  content: "\e2dc";
}
.icon-plus-4:before {
  content: "\e2dd";
}
.icon-cross-3:before {
  content: "\e2de";
}
.icon-minus-5:before {
  content: "\e2df";
}
.icon-plus-5:before {
  content: "\e2e0";
}
.icon-erase:before {
  content: "\e2e1";
}
.icon-blocked-2:before {
  content: "\e2e2";
}
.icon-info-3:before {
  content: "\e2e3";
}
.icon-info-4:before {
  content: "\e2e4";
}
.icon-question-2:before {
  content: "\e2e5";
}
.icon-help:before {
  content: "\e2e6";
}
.icon-warning-2:before {
  content: "\e2e7";
}
.icon-cycle:before {
  content: "\e2e8";
}
.icon-cw:before {
  content: "\e2e9";
}
.icon-ccw:before {
  content: "\e2ea";
}
.icon-shuffle-2:before {
  content: "\e2eb";
}
.icon-arrow:before {
  content: "\e2ec";
}
.icon-arrow-2:before {
  content: "\e2ed";
}
.icon-retweet-2:before {
  content: "\e2ee";
}
.icon-loop-4:before {
  content: "\e2ef";
}
.icon-history-2:before {
  content: "\e2f0";
}
.icon-back:before {
  content: "\e2f1";
}
.icon-switch-2:before {
  content: "\e2f2";
}
.icon-list-4:before {
  content: "\e2f3";
}
.icon-add-to-list:before {
  content: "\e2f4";
}
.icon-layout:before {
  content: "\e2f5";
}
.icon-list-5:before {
  content: "\e2f6";
}
.icon-text:before {
  content: "\e2f7";
}
.icon-text-2:before {
  content: "\e2f8";
}
.icon-document:before {
  content: "\e2f9";
}
.icon-docs:before {
  content: "\e2fa";
}
.icon-landscape:before {
  content: "\e2fb";
}
.icon-pictures:before {
  content: "\e2fc";
}
.icon-video:before {
  content: "\e2fd";
}
.icon-music-5:before {
  content: "\e2fe";
}
.icon-folder-2:before {
  content: "\e2ff";
}
.icon-archive:before {
  content: "\e300";
}
.icon-trash-2:before {
  content: "\e301";
}
.icon-upload-5:before {
  content: "\e302";
}
.icon-download-5:before {
  content: "\e303";
}
.icon-disk-2:before {
  content: "\e304";
}
.icon-install:before {
  content: "\e305";
}
.icon-cloud-3:before {
  content: "\e306";
}
.icon-upload-6:before {
  content: "\e307";
}
.icon-bookmark-3:before {
  content: "\e308";
}
.icon-bookmarks-2:before {
  content: "\e309";
}
.icon-book-4:before {
  content: "\e30a";
}
.icon-flow-cascade:before {
  content: "\e318";
}
.icon-flow-branch:before {
  content: "\e319";
}
.icon-flow-tree:before {
  content: "\e31a";
}
.icon-flow-line:before {
  content: "\e31b";
}
.icon-flow-parallel:before {
  content: "\e31c";
}
/**.icon
----------
    .icon(@type, @size: 1, @color: inherit, @margin: 0.3em, @vert-align: middle, @float: none, @position: static, @top: auto);
*/
/**.icon-after
----------
    .icon-after(@type, @size: 1, @color: inherit, @margin: 0.3em, @vert-align: middle, @float: none, @position: static, @top: auto);
*/
/**.icon-before
----------------
    .icon-before(@type, @size: 1, @color: inherit, @margin: 0.3em, @vert-align: middle, @float: left, @position: static, @top: auto);
*/
/**.icon-menu
-----------------
    .icon-menu(@type, @top: auto, @left: auto, @color: inherit, @size: 1);
*/
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
}
.km-widget {
  background: #3a3a3a !important;
  color: #ffffff;
}
.km-ios7 .km-header .km-navbar {
  border: none;
}
.km-ios7 .km-header .km-navbar .km-view-title {
  background: #000000;
  opacity: .5
                color: #fff !important;
}
.km-ios7 .km-view-title {
  color: #ffffff;
}
.km-ios7 .km-footer {
  background: #000000;
  opacity: .7;
  height: 70px;
}
.km-ios7 .app {
  display: block;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
}
.km-ios7 .app button {
  background: none !important;
  border: 1px solid #81b4fc;
  color: #81b4fc;
  margin: 3% 0;
  padding: 3% 0;
  border-radius: 5px;
}
.km-ios7 .menu-button {
  position: absolute;
  left: -9999px;
}
.km-ios7 .menu-button:before {
  font-family: IconFont;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 1em;
  margin-left: 0.3em;
  content: "\e0bc";
  font-size: 1em;
  line-height: 1em;
  color: inherit;
  float: left;
  position: static;
  top: auto;
}
