.km-ios7 .km-header .km-navbar {
  margin-top: 20px;
}
.km-list input[type=password],
.km-list input[type=search],
.km-list input[type=number],
.km-list input[type=tel],
.km-list input[type=url],
.km-list input[type=email],
.km-list input[type=month],
.km-list input[type=color],
.km-list input[type=week],
.km-list input[type=date],
.km-list input[type=time],
.km-list input[type=datetime],
.km-list input[type=datetime-local],
.km-list input[type=text]:not(.k-input),
.km-list select:not([multiple]),
.km-list .k-dropdown-wrap,
.km-list textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.2);
  padding-bottom: 0px;
}
.km-list label {
  line-height: 1.6em;
}
button {
  font-weight: bold;
  color: #3f51b5;
  font-size: 1em;
  border: none;
  background: transparent;
}
.km-switch .km-switch-handle {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.km-switch .km-switch-label-on,
.km-switch .km-switch-label-off {
  background: #FFF;
  line-height: 2em;
}
.km-header {
  color: #ffffff;
  background: #3f51b5;
}
.km-header ul {
  padding: 0em;
}
.km-content .km-widget {
  background-color: transparent;
}
.km-content .km-list > li,
.km-content .km-listinset > li:first-child,
.km-content .km-listgroupinset .km-list > li:first-child {
  border-width: 0px;
}
.km-content .km-list > li {
  background: transparent;
}
.km-footer {
  height: 2.5em;
  padding: 0.7em;
  text-align: center;
  border-top: 1px solid rgba(68, 68, 68, 0.2);
  background-color: #f2f2f2;
}
.km-footer .actions {
  padding: 0;
  height: 100%;
  position: absolute;
  right: 1em;
  bottom: 0;
}
.km-footer .actions button {
  display: inline-block;
  height: 100%;
  padding: 0.7em 1em;
}
.km-footer #version {
  position: absolute;
  font-size: 0.7em;
  height: auto;
  bottom: 0px;
  left: auto;
}
