.km-ios7 .km-header {
  padding-top: 20px;
}
.km-loader .km-spin {
  display: none;
}
.km-list:not(.km-virtual-list) > li:first-child {
  border-top-width: 1px;
}
.km-list:not(.km-virtual-list) > li:last-child {
  border-bottom-width: 1px;
}
.km-list input[type=image] {
  display: none;
}
.km-list input[type=password],
.km-list input[type=search],
.km-list input[type=number],
.km-list input[type=tel],
.km-list input[type=url],
.km-list input[type=email],
.km-list input[type=month],
.km-list input[type=color],
.km-list input[type=week],
.km-list input[type=date],
.km-list input[type=time],
.km-list input[type=datetime],
.km-list input[type=datetime-local],
.km-list input[type=text]:not(.k-input),
.km-list select:not([multiple]),
.km-list .k-dropdown-wrap,
.km-list textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.2);
  padding-bottom: 0px;
}
.km-list input[type=password][disabled],
.km-list input[type=search][disabled],
.km-list input[type=number][disabled],
.km-list input[type=tel][disabled],
.km-list input[type=url][disabled],
.km-list input[type=email][disabled],
.km-list input[type=month][disabled],
.km-list input[type=color][disabled],
.km-list input[type=week][disabled],
.km-list input[type=date][disabled],
.km-list input[type=time][disabled],
.km-list input[type=datetime][disabled],
.km-list input[type=datetime-local][disabled],
.km-list input[type=text]:not(.k-input)[disabled],
.km-list select:not([multiple])[disabled],
.km-list .k-dropdown-wrap[disabled],
.km-list textarea[disabled] {
  color: rgba(68, 68, 68, 0.5);
}
.km-list label {
  line-height: 1.6em;
  vertical-align: bottom;
  display: block;
}
.km-list .k-invalid-msg {
  position: relative;
  float: right;
  margin: 0em;
  width: 70%;
}
.km-listgroupinset {
  margin: 0em 1em;
}
button {
  font-weight: bold;
  color: #3f51b5;
  font-size: 1em;
  border: none;
  background: transparent;
}
.k-multiselect-wrap > ul > .k-button {
  border-radius: 1em;
  padding: 0.2em 0.25em 0.15em 0.75em;
}
.km-switch {
  width: 5em;
  border-radius: 2em;
}
.km-switch .km-switch-container {
  background: #fff;
  padding: 0.2em 2.1em 0.2em 0.1em;
}
.km-switch .km-switch-handle {
  background-color: #e5e5e5;
  border: 0.5px solid rgba(229, 229, 229, 0.5);
}
.km-switch .km-switch-label-on,
.km-switch .km-switch-label-off {
  line-height: 2em;
}
.km-on-ios .km-switch .km-switch-handle {
  border-radius: 2em;
}
.km-popup .k-popup .k-list li {
  padding: 0.5em;
}
.km-header {
  color: #ffffff;
  background: #3f51b5;
}
.km-header .km-view-title,
.km-header .km-dialog-title {
  line-height: 2em;
  margin: 0.25em;
}
.km-header ul {
  padding: 0em;
}
.km-content #version {
  position: absolute;
  font-size: 0.7em;
  height: auto;
  width: auto;
  text-align: right;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 1em;
}
.km-footer {
  min-height: 2.5em;
  padding: 0.7em;
  border-top: 1px solid rgba(68, 68, 68, 0.2);
  background-color: #f2f2f2;
}
.km-footer .actions {
  padding: 0;
  height: auto;
  position: absolute;
  right: 0em;
  bottom: 0em;
}
.km-footer .actions[data-align=left] {
  left: 0em;
}
.km-footer .actions button:not(.round) {
  display: inline-block;
  height: 100%;
  padding: 0.7em 1em;
  vertical-align: bottom;
  color: #3f51b5;
}
.km-footer #version {
  position: absolute;
  font-size: 0.7em;
  height: auto;
  bottom: 0px;
  left: auto;
  text-align: center;
  width: 100%;
  z-index: 0;
}
/*
.km-button.round {
	width: @roundSize*1.5;
	height: @roundSize*1.5;
	border-radius: @roundRadius*1.5;
	
	.caption {
		font-size: @roundFontSize*1.5;
		line-height: @roundLineHeight*1.5;
	}
	
	img {
		height: @roundSize*1.5;
	}
}
@media (min-width: 370px) {
	.km-button.round {
		width: @roundSize*2;
		height: @roundSize*2;
		border-radius: @roundRadius*2;
		
		.caption {
			font-size: @roundFontSize*2;
			line-height: @roundLineHeight*2;
		}
		img {
			height: @roundSize*2;
		}
	}
}
*/
.km-button.round {
  display: inline-block;
  position: initial;
  color: #f2f2f2;
  vertical-align: middle;
  font-size: 16.666666666666668px;
  line-height: 52px;
  height: 50px;
  width: 50px;
  border: none;
  /* border: 1px solid rgba(68, 68, 68, 0.2); */
  border-radius: 25px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}
.km-button.round .km-text {
  display: inline-block;
  font-weight: normal;
  background-color: #3f51b5;
  width: 100%;
  height: 100%;
  line-height: 52px;
  text-align: center;
  overflow-wrap: break-word;
}
.km-button.round img {
  height: 50px;
  /* This combination of two negative 50% values centers a div wider than its parent! */
  margin-left: -50%;
  margin-right: -50%;
}
@media (min-width: 370px) {
  .km-button.round {
    font-size: 20px;
    line-height: 62px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }
  .km-button.round .km-text {
    font-size: 20px;
    line-height: 62px;
  }
  .km-button.round img {
    height: 60px;
  }
}
.km-button.round {
  box-shadow: rgba(63, 81, 181, 0.7) -1px 3px 8px;
  margin: 0px 1px 8px 3px;
}
.km-button.round:active {
  box-shadow: none;
}
