#results .km-header {
  margin-bottom: 20px;
}
#results .km-header .km-view-title {
  z-index: 1;
}
#results .km-header .km-leftitem,
#results .km-header .km-rightitem {
  max-width: 35%;
  z-index: 2;
}
#results .km-header #opener {
  position: relative;
  margin: -19px auto 0px;
  height: 14px;
  /* Trapezoid CSS courtesy of http://css-tricks.com/examples/ShapesOfCSS/ ! */
}
#results .km-header #opener .tab {
  display: block;
  margin: 0 auto;
  border-top: 14px solid #3f51b5;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  height: 0;
  width: 50%;
  position: relative;
  top: 18px;
}
#results .km-header #opener .k-icon {
  display: block;
  margin: 0 auto;
}
#results .km-header #group {
  max-width: 100%;
}
#results .km-header #group .k-dropdown {
  max-width: 100%;
}
#results .km-header #group .k-dropdown .k-input {
  color: #fff;
}
#results .km-header #group .k-dropdown .k-icon {
  bottom: -1px;
  top: auto;
  position: absolute;
  right: 10px;
  transform: rotate(-45deg);
}
#results .km-header #group .k-dropdown,
#results .km-header #group .k-dropdown-wrap {
  background: transparent;
  border: none;
  box-shadow: none;
}
#results .km-header #preferences {
  padding: 0em;
  margin: 10px 0.25em 20px;
  text-align: center;
}
#results .km-header #preferences li.start,
#results .km-header #preferences li.end,
#results .km-header #preferences li.optout,
#results .km-header #preferences li.brought {
  width: 49%;
  display: inline-block;
  padding: 0.25em;
  text-align: center;
}
#results .km-header #preferences li.start > *,
#results .km-header #preferences li.end > *,
#results .km-header #preferences li.optout > *,
#results .km-header #preferences li.brought > * {
  display: inline-block;
}
#results .km-header #preferences li.start .k-timepicker,
#results .km-header #preferences li.end .k-timepicker,
#results .km-header #preferences li.optout .k-timepicker,
#results .km-header #preferences li.brought .k-timepicker {
  width: 8em;
  margin: auto;
}
#results .km-header #preferences li.start .k-timepicker input:disabled,
#results .km-header #preferences li.end .k-timepicker input:disabled,
#results .km-header #preferences li.optout .k-timepicker input:disabled,
#results .km-header #preferences li.brought .k-timepicker input:disabled {
  opacity: 1;
}
#results .km-header #preferences li.food > * {
  vertical-align: middle;
}
#results .km-header #preferences li.food .k-multiselect {
  display: inline-block;
  width: 70%;
}
#results .km-header #preferences #FoodPreferences form {
  display: inline-block;
  width: 32%;
}
@media (max-width: 579px) {
  #results .km-header #preferences #dailyprefs > li > * {
    display: block;
  }
}
#results .km-content .km-widget {
  background-color: transparent;
}
#results .km-content .km-list > li,
#results .km-content .km-listinset > li:first-child,
#results .km-content .km-listgroupinset .km-list > li:first-child {
  border-width: 0px;
}
#results .km-content .km-list > li {
  background: transparent;
}
#results .km-footer {
  background: transparent;
  border: none;
  padding: 0.5em;
  height: 100px;
}
#results .km-footer .actions .km-button {
  background: transparent;
  border: none;
  font-weight: bold;
  padding-bottom: 0;
  margin-left: 1em;
  margin-bottom: 1em;
}
#results .km-footer .opener {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  top: -0.2em;
  left: 0em;
}
.all-groups .k-grid-header th.k-header {
  overflow: visible;
}
.all-groups td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2em 0.4em;
  border-width: 1px 0px 0px 1px;
}
.all-groups td.preference {
  background-color: #3f51b5;
  text-indent: -999px;
  overflow: hidden;
}
.all-groups td.available {
  background-color: rgba(63, 81, 181, 0.5);
  text-indent: -999px;
  overflow: hidden;
}
.all-groups .group {
  clear: both;
}
.all-groups .group > * {
  display: inline-block;
  vertical-align: middle;
}
.all-groups .group .group-icon img {
  max-width: 100px;
}
.all-groups .group .details > * {
  display: inline-block;
  margin-left: 2em;
}
#lastsync {
  padding: 1em;
  font-size: 0.8em;
  text-align: center;
}
